.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.to-address{
    margin-bottom:5px
}

.from-address{
    margin-bottom:5px
}

label {
    margin-right: 5px;
}

button {
    margin-top:5px
}


